{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Жанго</h1>
    <p class="lead">Джанго палец вверх</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Стартуем</h2>
        <p>Джанго круто очень</p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Выполнить задание надо</h2>
        <p>Уээ зонби</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Узнать больше &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
