{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MusicNews</h1>
    <p class="lead">Новости музыкальной жизни</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Перейти к новостям &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Новость недели 🔥</h2>
        <p>Морган Уоллен Не будет присутствовать на Судебном заседании после ареста</p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Посмотреть &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Новость месяца ✌️</h2>
        <p>PartyNextDoor Анонсирует тур Sorry I'm Outside с кинематографическим трейлером</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Посмотреть &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
