{% extends "app/layout.html" %}
{% block content %}
{% if form != None %}

<style>
    .submit-button-poll {
        padding: 10px 20px; /* Поля внутри кнопки */
        border: none; /* Убираем границу */
        cursor: pointer; /* Изменяем вид курсора */
        background-color: rgb(255, 105, 0); /* Цвет фона кнопки */
        color: white; /* Цвет текста на кнопке */
        font-weight: bold;
        border-radius: 4px;
    }
    

    .submit-button-poll:focus {
        background-color: #FA8072; /* Новый цвет фона при фокусе */
    }

     label {
        display: block; /* Размещаем label на новой строке */
        font-size: 16px; /* Размер шрифта */
        color: #333; /* Цвет текста */
        margin-bottom: 5px; /* Отступ снизу */

    }

    /* Стили для полей ввода */
    input[type="text"] {
        padding: 5px; /* Внутренние отступы */
        width: 100%; /* Ширина поля ввода */
        border: 1px solid #999; /* Граница поля ввода */
        border-radius: 5px; /* Скругление углов */
        background-color: white;
    }
    .offer {
        width: 300px; /* Измените значение на необходимое вам */
    }
    input[name="offer"] {
        width: 500px; /* Измените значение на необходимое вам */
        height: 500px;
    }
    .shareLabel {
        font-weight: bold;
        text-transform: uppercase;
    }
    

</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const button = document.querySelector('.submit-button-poll');

        // Добавить обработчики событий для наведения курсора и ухода от кнопки
        button.addEventListener('mouseover', function () {
            button.style.backgroundColor = 'white'; // Изменить цвет фона при наведении на кнопку
            button.style.color = 'black'
        });

        button.addEventListener('mouseout', function () {
            button.style.backgroundColor = '#FF6900'; // Вернуть исходный цвет кнопки при уходе курсора
            button.style.color = 'white'
        });

    });

    document.addEventListener('DOMContentLoaded', function () {
        const textInputs = document.querySelectorAll('input[type="text"]');

        // Добавить обработчики событий для каждого поля ввода
        textInputs.forEach(input => {
            input.addEventListener('focus', function () {
                this.style.backgroundColor = '#FF6900'; // Изменить цвет фона поля ввода при фокусировке
                this.style.color = 'white';
            });

            input.addEventListener('blur', function () {
                this.style.backgroundColor = 'white'; // Вернуть исходный цвет фона поля ввода при потере фокуса
                this.style.color = 'black';
            });
        });
    });
</script>


<div>
    <br>
    <h2 class="shareLabel">Поделитесь с нами с вашим самым секретным рецептом!</h2>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="{{form.name.id_for_label}}">{{form.name.label}}:</label>
            {{form.name}}<br><br>
            <label for="{{form.city.id_for_label}}">{{form.city.label}}:</label>
            {{form.city}}<br><br>
            <label for="{{form.email.id_for_label}}">{{form.email.label}}:</label>
            {{form.email}}<br><br>

            <label class="offer" for="{{form.offer.id_for_label}}">{{form.offer.label}}</label>
            {{form.offer}}<br><br>

            <label for="{{form.notice.id_for_label}}">{{form.notice.label}}</label>
            {{form.notice}}<br><br>
            <input class="submit-button-poll" type="submit" id="commitID1" value="Отправить">
        </form>
    </div>
</div>


{% else %}
<br>
<h2>Благодарим за предоставленную информацию!</h2>
<h3>Вы сообщили следующее:</h3>
<ul>
    <li><span>Имя:</span>{{ data.name }}</li>
    <li><span>Город:</span>{{ data.city }}</li>
    <li><span>E-mail:</span>{{ data.email }}</li>
    <li>
        <span>Получить новости сайта на e-mail:</span>
        {{ data.notice }}
    </li>
</ul>


{% endif %}
{% endblock %}